<!-- templates/users.html-->
{% extends 'base.html' %}

{% block content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Alterar Senha</h1>
        </div>
        <p class="mb-4">Ambiente de gestão de senha da plataforma Jud <i>in</i> Foco.</p>


        <div class="card mb-4">
          <div class="card-header">
            Formulário para alteração
          </div>
          <div class="card-body">
            <!-- Inicio do formulário -->   
            
                    <h5 class="text-gray-800">Orientações:</h5>
                    <ul>
                    <li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
                    <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                    <li>Sua senha deve conter letras e números.</li>
                    </ul>
                

<!-- Messages -->
{% if messages %}
{% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{ message.tags }}" role="alert" {% endif %}>
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %}
<!-- end messages -->


<form method="post">
    {% csrf_token %}
    <div class="form-group">    
        <input type="password" class="form-control form-control-user" name="old_password" autofocus="" required="" id="id_old_password" autocomplete="off" placeholder="Senha antiga">
    </div>
    <div class="form-group">    
        <input type="password" class="form-control form-control-user" name="new_password1" required="" id="id_new_password1" placeholder="Nova senha">
    </div>
    <div class="form-group">
    <input type="password" class="form-control form-control-user" name="new_password2" required="" id="id_new_password2" placeholder="Confirme a sua nova senha">
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Salvar</button>
    
  </form>

</div>
</div>

</div>


  {% endblock %}